{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1>Rankings</h1>
    {% for group in teams %}
    <div><h2>Group {{ group }}</h2></div>
    {% for i in range(teams[group]|length) %}
    <div>
        <p>{{ teams[group][i] }} {% if i < 4 %} <b>Qualifiying</b> {% endif %}</p>
    </div>
    {% endfor %}
    {% endfor %}
    <form action="{{ url_for('clear') }}" method="post">
        <input class="danger" type="submit" value="Clear All Data" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}